body {
	font-family: 'Rubik';
	font-size: 14px;
	margin: 0;
  }
  .App {
	background-color: #efefef;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding-top: 100px;
  }
  